#gadget {
	border: 1px solid #000;
	width: 400px;
	height: 300px;
	margin: 50px auto;
}

#header {
	height: 40px;
}

#content {
	border: 1px solid #333333;
	height: 240px;
	margin: 0 auto;
	overflow: auto;
	width: 380px;
}

body, tbody {
	font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	font-size: 80%;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #999;
}

td.file {
	font-style: italic;
	text-align: left;
}

td.dir {
	font-weight: bold;
	text-align: left;
}

span.breadcrumb {
	padding-left: 10px;
	padding-top: 10px;
	float: left;
}

span.icons {
	padding: 5px;
	float: right;
}

table {
	border: medium none;
	border-collapse: collapse;
	width: 100%;
}

th {
	background-color: #000;
	color: #fff;
}

tr.even {
	background-color: #ccc;
}

tr.odd {
	background-color: #fff#
}

th, td {
	border-left: medium none;
	border-right: medium none;
	padding: 5px;
}

