body {
	font-family: sans-serif;
	font-size: 85%;
	margin: 0;
	padding: 0;
}

a {
	color: #777;
}

img {
	border: 0;
}

#header {
	background-color: #000;
	margin: 0;
	height: 2em;
}

#header span {
	margin: 0;
	color: #fff;
	height: 2em;
	padding: 5px;
}

#header span.right {
	float: right;
}

#header span.left {
	float: left;
}


#content {
	padding: 10px;
	margin: 10px;
	border: 1px solid #000;
	background-color: #eee;
}

td, th { 
	padding: 5px;
	vertical-align: top;
	text-align: left;
}

td.thumbnail {
	text-align: center;
}

label {
	display: block;
	margin: 10px;
}

ul.menu {
	list-style: none;
	padding: 0;
	margin-left: 5px;
}

ul.menu li {
	display: inline;
	margin: 0;
	padding: 5px;
	color: black;
}

ul.menu li a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #000;
	padding: 4px;
	background-color: #eee;
}
