body {
	font-family: sans-serif;
	font-size: 85%;
	padding: 0;
	margin: 0;
}

a {
	color: #555;
}

/*label {
	display: block;
}*/

#header {
	padding: 5px 0;
	background-color: #000;
	color: #fff;
}

#header ul {
	padding: 0;
	margin: 0 5px;
	display: inline;
}

#header ul li {
	list-style: none;
	margin: 0;
	display: inline;
	padding: 0;
}

#header ul li:before {
	content: "» ";
}

#footer {
	margin: 5px auto 0 auto;
	font-size: small;
	color: #888;
	text-align: center;
}

img {
        border: 0;
}

#error {
	border: 1px solid #000;
	background-color: #c00;
	color: #fff;
	padding: 5px;
}

.editView {
	display: none;
}

.thumbnail {
	padding: 10px 0;
}

.thumbnail .video-js-box {
        margin: 0 auto;
        border: 1px solid #000;
        display: block;
}

.thumbnail img {
        margin: 0 auto;
        border: 1px solid #000;
	display: block;
}

.filelist {
        color: #000;
        background-color: #eee;
        border-bottom: 1px solid #000;
}

.filelist_controls {
        padding: 5px 0;
        background-color: #ddd;
        border-top: 1px dashed #000;
}

.filelist_controls input {
        margin: 0 5px;
	border: 1px solid #000;
	background-color: #eee;
}

.filelist_tag { 
	background-color: #ccc;
	font-size: 75%;
	text-decoration: none;
	color: #c00;
	padding: 0 2px;
}

.filelist_group {
        background-color: #ccc;
        font-size: 75%;
        text-decoration: none;
        color: #00c;
        padding: 0 2px;
}

.filelist_file {
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

.filelist_size {
	font-size: 75%;
	color: #555;
}

.filelist_nofiles {
	color: #c00;
	font-style: italic;
	padding: 5px 10px;
}

.filelist_confirm {
	color: #c00;
	font-weight: bold;
	padding: 5px 10px;
}
