body {
	font-family: sans-serif;
	font-size: 85%;
}

#userinfo {
	font-size: 85%;
	float: right;
}

/*
 * Content
 */
#container {
        border: 1px solid #000;
        padding: 10px;
        background-color: #eee;
}

#container a {
	color: #000;
}

#container table {
	border: 1px solid #000;
	margin: 0;
	padding: 0;
	width: 100%;
}

#container td, #container th {
	border: 1px dotted #000;
        text-align: left;
        vertical-align: middle; 
	padding: 5px;
}

#container form {
	margin: 0;
	padding: 0;
}

#container input, #container select {
	font-size: 85%;
}

/*
 * Error Messages
 */
.error {
	background-color: #c00;
	color: #fff;
	text-align: center;
	border: 1px solid #000;
}

/*
 * Authentication
 */
.login input, .login label, .login select {
        display: block;
        margin: 10px;
}

.login label {
        font-size: 85%;
}

.login .proceed {
        margin-left: 20px;
}

