<html>
<head>
<title>FileTrader</title>
  <link rel="stylesheet" type="text/css" href="s/style.css">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="j/ftc.js"></script>

  <script id="directoryList" type="text/x-jquery-tmpl">
        <tr>
          <th>Action</th>
          <th>Name</th>
          <th>Size</th>
          <th>Created</th>
          <th>Delete</th>
        </tr>
	{{each(i, entry) data}}
          {{if (i % 2 === 0)}}
	        <tr class="dirEntry even">
          {{else}}
 		<tr class="dirEntry odd">
          {{/if}}

	  {{if isDirectory}}
	          <td><a class="open" href="#"><img src="i/dir_bl.png" height="20" width="20"></a></td>
	  	  <td class="dir">${entry.fileName}</td><td>-</td><td>${$item.fDate(entry.fileDate)}</td>
		  <td><a class="delete" href="#"><img src="i/bin_bl.png" height="20" width="20"></a></td>
	  {{else}}
                  <td><a class="download" href="#"><img src="i/download_bl.png" height="20" width="20"></a></td>
		  <td class="file">${entry.fileName}</td><td>${$item.fSize(entry.fileSize)}</td><td>${$item.fDate(entry.fileDate)}</td>
                  <td><a class="delete" href="#"><img src="i/bin_bl.png" height="20" width="20"></a></td>
	  {{/if}}
       {{/each}}
        </tr> 
  </script>

</head>
<body>
  <div id="header">
    <ul id="breadcrumb">
    </ul>
    <span class="icons">
	<a href="#">
		<img src="i/add_bl.png" height="32" width="32">
	</a>
	<a href="#">
		<img src="i/setting_bl.png" height="32" width="32">
	</a>
    </span>
  </div>

  <div id="content">
    <table class="filelist">
      <tbody>
      </tbody>
    </table>
  </div>

</body>
</html>

