body {
	font-family: sans-serif;
	font-size: 85%;
	margin: 0;
	padding: 0;
}

a {
	color: #888;
}

table {
	border: 1px solid #000;
	margin: 5px 0;
	background-color: #eee;
}

th, td {
	text-align: left;
	padding: 5px 10px;
}

img {
	border: 0;
}

#header {
	background-color: #000;
	margin: 0;
	padding: 0;
}

#header p {
	margin: 0;
	padding: 5px;
	text-align: right;
	color: #fff;
}

#content {
	border: 1px solid #000;
	margin: 5px;
	padding: 10px;
}

label {
	display: block;
	margin: 10px;
}

form {
	border: 1px solid #000;
	background-color: #eee;
	padding: 5px;
}

input.button {
	text-align: center;
}
