body {
	font-family: sans-serif;
	font-size: 85%;
	width: 480px;
	margin: 10px auto;
}

#userinfo {
	font-size: 85%;
	float: right;
}

/*
 * Content
 */
#content {
        width: 100%;
        border: 1px solid #000;
        padding: 10px;
        background-color: #eee;
}

#content a {
	color: #000;
}

#content table {
	border: 1px solid #000;
	margin: 0;
	padding: 0;
	width: 100%;
}

#content td, #content th {
	border: 1px dotted #000;
        text-align: left;
        vertical-align: middle; 
	padding: 5px;
}

#content form {
	margin: 0;
	padding: 0;
}

#content input {
	font-size: 85%;
}

/*
 * Navigation
 */
#navigation {
        width: 100%;
        margin-bottom: 3px;
}

#navigation a {
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #000;
        background-color: #ddd;
        color: #000;
        font-weight: bold;
        padding: 3px;
}
#navigation a:hover {
	background-color: #bbb;
}

#navigation a.selected {
	background-color: #888;
}

#navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#navigation li {
	margin: 5px;
	display: inline;
	padding: 0;
}

/*
 * Error Messages
 */
.error {
	margin: 0 auto;
	padding: 5px;
	width: 75%;
	background-color: #c00;
	color: #fff;
	text-align: center;
	border: 1px solid #000;
}

/*
 * Authentication
 */
.login input, .login label, .login select {
        display: block;
        margin: 10px;
}

.login label {
        font-size: 85%;
}

.login .proceed {
        margin-left: 20px;
}

