#page
{
  width:80%;
  border:1px solid #ccc;
  margin:0 auto;
  padding:10px;
  box-shadow: 0 3px 3px 0;
  -webkit-box-shadow: 0 3px 3px 0;
}

#header
{
}

#content
{
  clear: both;
  border:1px solid #000;
  margin:0 auto;
}

body,tbody,thead
{
  font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
  font-size:85%;
}

a
{
  color:#000;
  text-decoration:none;
}

a:hover
{
  color:#999;
}

td.file
{
  font-style:italic;
  text-align:left;
}

td.dir
{
  font-weight:700;
  text-align:left;
}

span.icons
{
  float:right;
}

table
{
  border:medium none;
  border-collapse:collapse;
  width:100%;
}

th
{
  background-color:#000;
  color:#fff;
}

th.action {
  width: 30px;
}

tr.even
{
  background-color:#ccc;
}

tr.odd
{
  background-color:#fff;
}

th,td
{
  border-left:medium none;
  border-right:medium none;
  text-align:center;
  padding:5px;
}

ul#breadcrumb
{
  display:inline;
  list-style:none;
  padding:0;
}

ul#breadcrumb li
{
  display:inline;
  cursor:pointer;
}

ul#breadcrumb li.root {
  font-weight:bold;
}

ul#breadcrumb li:after
{
  content:' » ';
}

ul#breadcrumb li:last-child:after
{
  content:"";
}

#dropbox {
	background-color: #fff;
	border: 2px solid #000;
	border-radius: 8px;
	display: none;
	width: 50%;
	left: 25%;
	right: 25%;
	top: 100px;
	padding: 10px;
	position: absolute; 
}

#dropbox button {
	float: right;
}

#dropbox h3 {
	margin: 0;
	padding: 0;
	display: inline;
}

#ftc_cancel_upload {
	float: right;
}
#dropzone {
	clear: both;
	background-color: #fff;
	background-repeat: repeat;
	width: 200px;
	border: 2px dashed #000;
	border-radius: 8px;
        display: table-cell;
        vertical-align: middle;
	height: 100px;
	padding: 0;
	text-align: center;
	background-image: url(../i/back_down.png);
}

#statusBar {
	margin: 10px 0;
}

#progressBar {
	margin: 10px auto;
	display: block;
}

#progressInfo {
	float: left;
}

